.header {
	z-index: 10001;
	display: flex;
	width: 40px;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;

	li {
		display: flex;
		width: 40px;
		height: 20vh;
		text-align: center;
		justify-content: center;
		align-items: center;
		position: relative;
		transition-duration: 600ms;
		cursor: pointer;

		&[data-active="1"] {
			height: 80vh;
			cursor: default;
		}

		&:after {
			content: "";
			position: absolute;
			background: #000000;
			left: 0%;
			width: 100%;
			height: 0%;
			transition-duration: 0.4s;

			background-repeat: no-repeat;
			background-size: 20px;
		}

		&:hover:after {
			height: 100%;
			background-position: center;
		}

		&[data-active="1"]:after {
			height: 0%;
			top: 100%;
		}

		span {
			transform: rotateZ(-90deg);
			line-height: 1em;
			font-size: 14px;
			letter-spacing: 1px;
		}
	}

	.frontend {
		background-color: #FFFFFF;

		&:after {
			background-image: url(./icons/frontend-arrow.svg);
			background-color: #FFFFFF;
			top: 0%;
			background-position: center -30px;
		}
		&:hover:after {
			height: 100%;
			top: 0%;
			background-position: center;
		}
		&[data-active="1"]:after {
			height: 0%;
			top: 100%;
		}
		span {
			color: #000000;
		}
	}



	.backend {
		background-color: #000000;

		&:after {
			background-image: url(./icons/backend-arrow.svg);
			background-color: #000000;
			top: 100%;
			background-position: center 30px;
		}

		&:hover:after {
			height: 100%;
			top: 0%;
			background-position: center;
		}

		&[data-active="1"]:after {
			height: 0%;
			top: 0%;
		}

		span {
			color: #FFFFFF;
		}
	}
}