body {
    @media print {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
}

.page {
    width: 595px;
    min-height: 842px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid red;
    min-height: 842px;
    padding: 1cm;
    
    margin: 10px auto;

    @media print {
        width: auto;
        min-height: auto;
        margin: 0;
        box-sizing: initial;
        padding: 0;
        border: none;
        page-break-before: always;
    }
}

.print-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
        text-align: center;
    }

    &__logo-wrapper {
        text-align: center;
    }

    &__logo {
        width: 35%;
    }

    &__description {
        text-align: center;
    }

    &__persons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__footer {
        text-align: center;
    }

    @media print {
        min-height: 100vh;
    }
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    @page{
        margin-left: 1cm;
        margin-right: 1cm;
        margin-top: 1cm;
        margin-bottom: 1cm;
    }
}
