body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 450px;
	overflow: hidden;
}


.car-wrapper {
	position: relative;
	width: 450px;
	height: 250px;
	padding: 0px;
	margin-left: 450px;
	transition-duration: 3s;
}
.car-wrapper.active {
	margin-left: 0px;
}

.wheel-left-wrapper {
	left: 72px;
}

.wheel-right-wrapper {
	left: 327px;
}


.wheel-image {
	position: absolute;
	height: 59px;
	width: 59px;
	bottom: 56px;
	transform: rotateZ(0deg);
	transition-duration: 3s;
}

.car-wrapper.active .wheel-image {
	transform: rotateZ(-720deg);
}

