* {
	box-sizing: border-box;
}

body {
	background: rgba(91, 55, 183, 1);
	font-family: 'Lato', sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: background 0.4s linear;

	text-align: center;
	margin: 0;
	min-height: 100vh;
}