.nav {
    background-color: #fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 450px;
}

.nav-container {
	display: flex;
	flex: 1;
	max-width: 100%;
}
